MIX_DEMO_FEEDBACK_DOUBT.json
{
  "name": "MIX/DEMO/FEEDBACK_DOUBT",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Feedback and Doubt Clearance from",
        "formDescription": "Student can give feedback of the course and ask doubt regarding any topic",
        "formFields": {
          "values": [
            {
              "fieldLabel": "EmailID",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback"
            },
            {
              "fieldLabel": "Doubt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1040,
        -48
      ],
      "id": "f53b05e8-68e4-4a7c-982e-f329cdaa33e1",
      "name": "On form submission",
      "webhookId": "45a35318-748e-47aa-b0c2-8b4c7e42e1d2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c360b28-3b26-481e-8086-7e485549038e",
              "leftValue": "={{ $json.Feedback }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "dd263db1-e433-4136-ac2d-d7fe229b1d8b",
              "leftValue": "={{ $json.Doubt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -768,
        -368
      ],
      "id": "6cab06e5-e7f9-4a92-98be-f3be9b06814c",
      "name": "Only Feedback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9b45c99-7e13-47da-84ab-9200eaeeba9d",
              "leftValue": "={{ $json.Doubt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "56e36edd-c799-4260-a631-e71e10d2ccab",
              "leftValue": "={{ $json.Feedback }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -720,
        288
      ],
      "id": "3a9a3973-208f-4215-9c95-341471d88c71",
      "name": "Only Doubt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca15c7a0-88e1-4d25-a482-c65699605e62",
              "leftValue": "={{ $json.Feedback }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "46922624-290d-4d14-9f6e-5f314be8ca02",
              "leftValue": "={{ $json.Doubt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -752,
        -64
      ],
      "id": "bed9fdd1-cf8a-4988-a11d-13cc6c888655",
      "name": "Feedback and Doubt"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Feedback }}",
        "options": {
          "categories": "Positive, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -432,
        -368
      ],
      "id": "1bb5cdba-5598-41b4-86a7-edd705f3f8dc",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        -176
      ],
      "id": "0da0d972-0127-43b5-a461-a9f4f7af3265",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ebI1YNpW3j0xJGPC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on The feedback of the course and it's sentiment, generate an appropricte response that has to be given to our student. Make sure the response is formatted properly in HTML as it has to be sent through mail.\n\nFeedback: {{ $json.Feedback }}\nSentiment:  {{ $json.sentimentAnalysis.category }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        32,
        -352
      ],
      "id": "1e95cf36-27e8-4b29-a7d1-9d9260285d47",
      "name": "FeedBack Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        -176
      ],
      "id": "d0ad6d62-071d-4bea-8281-d85a5762faa6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ebI1YNpW3j0xJGPC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the doubt :  {{ $json.Doubt }}\ngenerate a solution which is on simple language and not more than 300 words.\n\nMake sure to properly format the output in HTML it has to be sent as mail.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -144,
        272
      ],
      "id": "3bd26e7d-679d-4fc0-b4b4-77ab279541e3",
      "name": "Doubt response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        480
      ],
      "id": "41174ace-f3f8-4908-87ca-087487b36321",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ebI1YNpW3j0xJGPC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.EmailID }}",
        "subject": "Feedback response",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        0
      ],
      "id": "d177aae9-c703-41f4-9eb3-22d3ef7b9bfc",
      "name": "Send Feedback response",
      "webhookId": "e22acc29-c442-4980-81f8-beba81c384bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "0L3aVjxQAlVxxJNT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.EmailID }}",
        "subject": "Doubt response",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        240
      ],
      "id": "10823cca-7a6a-45e3-928c-4f363ebae7f0",
      "name": "Send Doubt response",
      "webhookId": "e22acc29-c442-4980-81f8-beba81c384bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "0L3aVjxQAlVxxJNT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        976,
        -416
      ],
      "id": "706e6e84-cf3a-4ae7-bcd6-35786e5ce2b7",
      "name": "Send message",
      "webhookId": "f04731f8-19d8-475e-a520-d9bd730f30ad"
    }
  ],
  "pinData": {
    "FeedBack Response": [
      {
        "json": {
          "text": "Here's an appropriate response formatted in HTML for an email, based on the positive feedback:\n\n```html\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Thank You for Your Course Feedback!</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            font-size: 16px;\n            line-height: 1.6;\n            color: #333333;\n            background-color: #f4f4f4;\n            margin: 0;\n            padding: 0;\n        }\n        .container {\n            max-width: 600px;\n            margin: 20px auto;\n            padding: 20px;\n            background-color: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        }\n        h1 {\n            font-size: 24px;\n            color: #0056b3;\n            margin-bottom: 20px;\n        }\n        p {\n            margin-bottom: 15px;\n        }\n        .feedback-quote {\n            background-color: #e6f7ff;\n            border-left: 4px solid #007bff;\n            padding: 10px 15px;\n            margin: 20px 0;\n            font-style: italic;\n            color: #004085;\n        }\n        .signature {\n            margin-top: 30px;\n            padding-top: 10px;\n            border-top: 1px solid #eeeeee;\n            color: #666666;\n            font-size: 14px;\n        }\n        .highlight {\n            color: #007bff;\n            font-weight: bold;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Thank You for Your Feedback!</h1>\n\n        <p>Dear Student,</p>\n\n        <p>Thank you so much for taking the time to share your thoughts on the course!</p>\n\n        <p>We are delighted to hear that you found the course to be <strong><span class=\"highlight\">'pretty good'</span></strong>. Your positive feedback is incredibly valuable and encouraging to our team, and it truly motivates us to continue improving.</p>\n\n        <div class=\"feedback-quote\">\n            <strong>Your Feedback:</strong> \"The Course was pretty good.\"\n        </div>\n\n        <p>We strive to create engaging and effective learning experiences, and it's wonderful to know that you had a positive experience. We hope you gained valuable knowledge and enjoyed your learning journey with us.</p>\n\n        <p>We appreciate your participation and look forward to welcoming you to future learning opportunities!</p>\n\n        <div class=\"signature\">\n            <p>Best regards,<br>\n            The [Your Course/Institution Name] Team</p>\n        </div>\n    </div>\n</body>\n</html>\n```"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Doubt response": [
      {
        "json": {
          "text": "```html\n<html>\n<head>\n    <title>Understanding LangChain: Your AI App Toolkit</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        h1 {\n            color: #2c3e50;\n            font-size: 24px;\n        }\n        strong {\n            color: #34495e;\n        }\n        ul {\n            list-style-type: disc;\n            margin-left: 20px;\n        }\n        li {\n            margin-bottom: 5px;\n        }\n    </style>\n</head>\n<body>\n    <h1>What is LangChain?</h1>\n\n    <p>Hi there,</p>\n\n    <p>You asked about LangChain! Think of it as a <strong>smart toolkit</strong> or a set of <strong>programmable building blocks</strong> that makes it much easier to create powerful applications using Artificial Intelligence, especially those involving large language models (LLMs) like ChatGPT.</p>\n\n    <p>Imagine you want to build an AI assistant that can not only answer questions but also search your documents, summarize articles, and even perform actions like sending emails. Doing all these complex tasks directly with just an LLM can be very challenging. This is where LangChain comes in.</p>\n\n    <p>It helps developers:</p>\n    <ul>\n        <li><strong>Connect LLMs to data:</strong> Hook up an LLM to your own documents, databases, or even the internet, so it can find and use real-time, relevant information.</li>\n        <li><strong>Chain together steps:</strong> Break down complex problems into smaller, manageable steps for the LLM to follow in a sequence (e.g., \"first find the information, then summarize it, then check for clarity\").</li>\n        <li><strong>Give LLMs \"memory\":</strong> Enable your AI assistant to remember past conversations, providing more coherent and personalized responses over time.</li>\n        <li><strong>Empower LLMs with tools:</strong> Allow your AI to use external tools, like a calculator, a search engine, or an API, just like a human would to complete tasks.</li>\n    </ul>\n\n    <p>In essence, LangChain helps build sophisticated AI applications, smarter chatbots, and \"agents\" that go far beyond basic text generation. It's a popular framework for making LLMs more useful and capable in real-world scenarios, making it simpler to bring advanced AI ideas to life.</p>\n\n    <p>Hope this clears things up!</p>\n</body>\n</html>\n```"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Feedback and Doubt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Only Feedback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Only Doubt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Feedback": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback and Doubt": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Doubt response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "FeedBack Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FeedBack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "FeedBack Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Only Doubt": {
      "main": [
        [
          {
            "node": "Doubt response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Doubt response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Doubt response": {
      "main": [
        [
          {
            "node": "Send Doubt response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FeedBack Response": {
      "main": [
        [
          {
            "node": "Send Feedback response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "34323878-71d5-444f-948e-0b32abb26017",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48711374b5f215ca3eb37835d3df4caf086062bb53721c660807f922b5451944"
  },
  "id": "XcYCyQzas-CzI4i84SFko",
  "tags": []
}